:root {
  --main-color-green: #6FA9A9;
  --main-color-light-green: #DDEEEE;
  --black-color: #1E3050;
  --gray-color: #d9d9d9;
  --light-gray-color: #f1f1f1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
